<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
    </style>
    <title>Бронирование</title>

  </head>
  <body>
    <div class="d-flex align-items-center p-3 text-white-50 bg-blue shadow-sm" style="background-color: rgb(0, 123, 255);">        
      <div class="col align-self-center text-left"><h6 class="mb-0 text-white lh-100">Выберете номер варианта</h6></div>
      <div class="col align-self-center text-center text-white"></div>
      <div class="col align-self-center text-right"></div>
    </div>
      
     <!--
      <button type="button" class="btn btn-primary position-relative">
     -->

     <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top: 30px;">
        <div class="col-sm-9">
          <div class="row mb-4" style="background-color: rgb(181, 209, 255);">
            <div class="col align-self-center text-center"> </div>
            <div class="col align-self-center text-center"></div>
            <div class="col align-self-center text-center"></div>
            <div class="col align-self-center text-center"></div>
            <div class="col align-self-center text-center"></div>
            <div class="col align-self-center text-center"></div>
            <div class="col align-self-center text-center"></div>
          </div>
        </div>
      </div>
      
      <% if (message) { %>
        <div class="alert alert-danger">
        <%= message %>
        </div>
      <% } %>
      <div class="container">
        <form method="post" action="/booking" id="form-options">
          <% let optcounter = bookingId.variants;
            while (optcounter > 0) { %>
              <div class="row justify-content-center" style="margin-top: 30px;">
                <table class="table">
                  <tr>
                    <% for (let i = 0; i < 5 && optcounter > 0; i++) { %>
                      <td>
                        <div class="form-check text-center">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault<%= i + 1 %>" value="<%= bookingId.variants-optcounter+1 %>" onchange="updateButtonState(this)">
                          <label class="form-check-label" for="flexRadioDefault<%= i + 1 %>">
                            №<%= bookingId.variants-optcounter+1 %>
                          </label>
                          <% optcounter--; %>
                        </div>
                      </td>
                    <% } %>
                  </tr>
                </table>
              </div>
          <% } %>
          <input type="hidden" name="variant" id="variant" value="">
          <button type="submit" name="id" value="<%= bookingId.id %>" class="btn btn-primary mx-auto d-block" onclick="event.preventDefault(); changeAction(this, '<%= bookingId.variants_users %>', '<%= bookingId.id %>' )" disabled>Подтвердить</button>
        </form>
        
        <script>
          function changeAction(button, variants_users, numlab) {
            const form = document.getElementById('form-options');
            const variant = form.querySelector('input[name="variant"]').value;
            form.action = `/completed/${numlab}`;
            form.submit();
          }
        
          function updateButtonState(radio) {
            const form = radio.closest('form');
            const button = form.querySelector('button[type="submit"]');
            button.disabled = false;
            const variantField = form.querySelector('input[name="variant"]');
            variantField.value = radio.value;
          }
        </script>
      </div>

    </div>

       
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>