<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
    </style>
    <title>Личный кабинет</title>

  </head>
  <body>
    <div class="d-flex align-items-center p-3 text-white-50 bg-blue shadow-sm" style="background-color: rgb(0, 123, 255);">        
      <div class="col align-self-center text-left"><h6 class="mb-0 text-white lh-100">
        Список забронированных работ
      </h6></div>
        <div class="col align-self-center text-center text-white"><%= name %></div>
      <div class="col align-self-center text-right">
        <a href="/personal_account" class="mb-1 btn btn-outline-light position-relative">К бронированиям</a>
      <!--<button type="button" class="mb-1 btn btn-outline-light position-relative">
        Приглашения <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">+3<span class="visually-hidden"></span></span>
      </button>--></div>
    </div>
      
     <!--
      <button type="button" class="btn btn-primary position-relative">
     -->

    <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top: 30px;">
        <div class="col-sm-9">
          <div class="row mb-4" style="background-color: rgb(181, 209, 255);">
            <div class="col align-self-center text-center">Предмет</div>
            <div class="col align-self-center text-center">Номер лабораторной</div>
            <div class="col align-self-center text-center">Вариант</div>
            <div class="col align-self-center text-center">Люди в группе</div>
            <div class="col align-self-center text-center">Дата закрытия</div>
            <div class="col align-self-center text-center"></div>
          </div>
        </div>
      </div>

      <% results.sort(function(a, b) {
        const now = new Date();
        const endAtA = new Date(a.end_at);
        const endAtB = new Date(b.end_at);
        if (endAtA < now && endAtB >= now) {
            return 1; // "a" is not available, but "b" is, so "a" goes after "b"
        } else if (endAtA >= now && endAtB < now) {
            return -1; // "a" is available, but "b" is not, so "a" goes before "b"
        } else {
            // both are either available or not, so sort by end date
            return endAtA - endAtB;
        }
    }).forEach(function(showcompleted) { %>
        <div class="row justify-content-center" style="margin-top: 30px;">
            <div class="col-sm-9">
              <form method="post" action="/booking/<%= showcompleted.id %>" id="form-<%= showcompleted.id %>">
                    <div class="row mb-4">
                        <div class="col align-self-center text-center"><%= showcompleted.course_name %></div>
                        <div class="col align-self-center text-center"><%= showcompleted.lesson_name %></div>
                        <div class="col align-self-center text-center"><%= showcompleted.variant %></div>
                        <div class="col align-self-center text-center"><%= showcompleted.users %></div>
                        <div class="col align-self-center text-center"><%= showcompleted.end_at.toISOString().slice(0, 10) %></div>
                        <div class="col align-self-center text-center">
                            <% if (new Date(showcompleted.end_at) < new Date()) { %>
                                <button type="submit" name="id" value="<%= showcompleted.id %>" class="btn btn-primary mx-auto d-block" onclick="changeAction('<%= showcompleted.id %>')" disabled>Изменить выбор</button>
                            <% } else { %>
                                <button type="submit" name="id" value="<%= showcompleted.id %>" class="btn btn-primary mx-auto d-block" onclick="changeAction('<%= showcompleted.id %>')">Изменить выбор</button>
                            <% } %>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <% }); %>
    
    
    <script>
        function changeAction(id) {
            const form = document.getElementById(`form-${id}`);
            form.action = `/booking/${id}`;
        }
    </script>
    </div>

    <!-- -->
       
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>