html
{
    background-color:bisque;
    @media (max-width: 575.98px) {
        body {
          background-position: center center;
          background-size: cover;
        }
        
        .container {
          margin-top: 20%;
        }
        
        h1 {
          font-size: 2rem;
        }
        
        .btn-lg {
          font-size: 1.2rem;
        }
      }
      
      /* для устройств с шириной экрана от 576px до 767.98px */
      @media (min-width: 576px) and (max-width: 767.98px) {
        .container {
          margin-top: 15%;
        }
        
        h1 {
          font-size: 3rem;
        }
        
        .btn-lg {
          font-size: 1.5rem;
        }
      }
      
      /* для устройств с шириной экрана от 768px до 991.98px */
      @media (min-width: 768px) and (max-width: 991.98px) {
        .container {
          margin-top: 10%;
        }
        
        h1 {
          font-size: 4rem;
        }
        
        .btn-lg {
          font-size: 2rem;
        }
      }
      
      /* для устройств с шириной экрана более 992px */
      @media (min-width: 992px) {
        .container {
          margin-top: 5%;
        }
        
        h1 {
          font-size: 5rem;
        }
        
        .btn-lg {
          font-size: 2.5rem;
        }
      }
}